#root,
body {
  background-color: #1f1f1f;
  color: white;
}
#logo {
  filter: invert(100%);
}

nav {
  height: 80px;
}

#footer {
  height: 150px;
  background-color: #2e2e2e;
}

@media (min-width: 768px) {
  footer {
    height: 70px;
  }
}

#sidebar {
  background-color: #252526;
}

#topbar {
  background-color: #2e2e2e;
}
